.App {
  background-color: #906aff;
  background-image: linear-gradient(#906aff, #13edff);
  height: calc(100vh - 72px);
  width: 100vw;
  color: #fff;
  padding: 24px 0 48px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.sudoku-title {
  padding: 11px 10px 6px;
  text-align: center;
  background: rgba(0, 0, 0, .13);
}

.sudoku-title img {
  width: 126px;
}

.sudoku-main-content-wrapper {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 114px); */
}

@media only screen and (max-width: 320px) {
  .sudoku-tables-container .sudoku-tables-wrapper tbody tr td table.sudoku-block-tables tbody tr td.target {
    height: 3.5vh;
  }
}